<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrapstyle.css">
    <link rel="stylesheet" href="css/all.min.css">

    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="freenworkspaginaprincipal/main.css">

    <title>ExpertD.</title>
  </head>
  <body>
  <!--========================================================== -->
                        <!-- ENCABEZADO -->
  <!--========================================================== -->
  <header class="container-fluid  d-flex justify-content-center">
       
            
    </header>

    <nav  class="navbar navbar-expand-lg navbar-light p-3"  id="menu" >
        <div class="container">
          <a class="navbar-brand" href="#">
              <span class="fs-5 text-primary fw-bold">MDIPS</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="bootstrapmenuprincipal.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#equipo">Equipo</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#funcionalidades">Funcionalidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#seccion-contacto">Contactos</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fas fa-user-check"></i> Login</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/registro"><i class="fas fa-user-check"></i>Registro</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="gsearch" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-primary btn-primary-outline-success" type="button">Buscar</button>
            </form>
          </div>

        </div>
      </nav>

    <!--========================================================== -->
                        <!-- SLIDER DE IMAGENES-->
    <!--========================================================== -->
   
   <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <a href="paginas/bootstrapsectormiscelanea.html"><img src="img/papeleria.png" class="d-block w-100" alt=""></a>
          </div>
          
 
          <div class="carousel-item" data-bs-interval="3000">
            <a href="paginas/bootstrapsectorsupermercado.html"><img src="img/supermarket-g0e17bf5e3_1920.jpg" class="d-block w-100" alt="..."></a>
          </div>
 

          <div class="carousel-item" data-bs-interval="3000">
            <a href="paginas/bootstrapsectorferrreteria.html"><img src="img/screwdriver-g0608b60c9_1920.jpg" class="d-block w-100" alt="..."></a>
          </div>
 
 
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>    
    

     
    <!--========================================================== -->
                        <!-- INTRODUCCION DE SERVICIOS-->
    <!--========================================================== -->


    <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
    <h1 class="p-3 fs-2 border-top border-3">Un software de <span class="text-primary">Calidad<span/></h1>
     <p class="p-3  fs-4">
         <span class="text-primary">MDIPS</span> es un software con el cual ayudamos a los negocios a manejar el inventario, compras a proveedores y catalogo de productos.       
     </p>   
    </section>

   <!--========================================================== -->
                        <!-- TIPOS DE SERVICIOS-->
    <!--========================================================== -->


<section class="w-100">
    <div class="row w-75 mx-auto" id="servicios-fila-1">       
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="img/triangulocalidad.jpg" alt="desarrollo"   width="180" height="160">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">CALIDAD</h3>
                <p class="px-4">Nuestro sistema de informacion asegura una gran calidad y rendimiento gracias al gran esfuerzo de sus desarrollares.</p>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
            <img src="img/innova.jpg" alt="concepto" width="180" height="160">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">INNOVACION</h3>
                <p class="px-4">Nuestro proyecto se caracteriza por las soluciones e ideas creativas que implantan sus desarrolladores.</p>
            </div>
        </div>   
    </div>
    
    <div class="row w-75 mx-auto mb-5" id="servicios-fila-2">       
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
            <img src="img/campeon.jpg" alt="comunicaciones" width="180" height="160">

            <div style="justify-content: center;">
                <h3 class="fs-5 mt-4 px-4 pb-1">COMPETITIVIDAD</h3>
                <p class="px-4">Este sistema de informacion siempre es desarrollado por sus desarrolladores con la intencion de que sea el mejor.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="./img/seo.png" alt="seo" width="180" height="160" >

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">SEO</h3>
                <p class="px-4">Analizamos la eficiencia y optimizamos los sitios WEB</p>
            </div>
        </div>   
    </div>
</section>

<h2 id="funcionalidades" class="text-center">Funcionalidades</h2>
<div class="contenedor">  
<div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
               <img src="img/inventariologo.png" alt="">
                
            </div>
        </div>

        <div class="description">
            <h3>Funcionalidad iventario</h3>
            
           <p>-permite registrar productos y clasificarlos</p>
        </div>

        <div class="contact">
            <a href="paginas/bootstrapmoduloinventario.html">Saber mas...</a>
        </div>
    </div>


    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="img/paginainternet.jpg" alt="">
            </div>
        </div>

        <div class="description">
          <h3>Funcionalidad catalogo digital</h3>
            
         <p>-permite  consultar productos en linea</p> 
        </div>

        <div class="contact">
            <a href="pagina_cliente/Pagina del cliente/indexcliente.html">Saber mas...</a>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="img/compralogo.png" alt="">
            </div>
        </div>

        <div class="description">
               <h3>Funcionalidad compra </h3>
            
            <p>-Puede registrar compras a proveedores </p>
          
            
        </div>

        <div class="contact">
            <a href="paginas/bootstrapmodulocompra.html">Saber mas...</a>
        </div>
    </div>
  <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="img/ventas.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Funcionalidad ventas</h3>
              <p>-permite registrar las ventas </p>
          
        </div>

        <div class="contact">
            <a href="paginas/bootstrapmoduloventas.html">Saber mas...</a>
        </div>
    </div>
     </div>
<!--========================================================== -->
                        <!-- SECCION ACERCA DE NOSOTROS-->
<!--========================================================== -->

<section>
    <div class="container w-50 m-auto text-center" id="equipo">
        <h1 class="mb-5 fs-2">Equipo pequeño con <span class="text-primary">resultados Grandes</span>.</h1>
        <p class="fs-4 ">Siempre buscamos las personas adecuadas para que trabajen con nosotros. Si te sientes listo para este reto, te esperamos para que te unas a nosotros.</p>
    </div>

    <div class="mt-5 text-center">
        <img id="img-equipo" src="./img/equipo.jpg" alt="equipo">
    </div>

    <div id="local" class="border-top border-2">
        <div class="mapa"> </div>
        <div>
            <div class="wrapper-local">
                <h2>Ubicado en Bogota, Colombia</h2>
                <h2 class="text-primary mb-4" id="typewriter"></h2>
                <p class="fs-5 text-body">Bogota es la ciudad de las oportunides debido a su gran candidad de empresas y universidades lo cual la convierte en el lugar perfecto para invertir y progresar.</p>
                <section class="d-flex justify-content-start" id="numeros-local">
                    <div>
                        <p class="text-primary fs-5">200</p>
                        <p>Dias de Sol</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">100%</p>
                        <p>Aprobado</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">24 °C</p>
                        <p>Temperatura</p>
                    </div>
              </section>
            </div>
        </div>
    </div>

</section>


<!--========================================================== -->
                        <!-- SECCION CONTACTOS-->
<!--========================================================== -->

<section id="seccion-contacto" class="border-bottom border-secondary border-2">
  <div id="bg-contactos">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1b2a4e" fill-opacity="1" d="M0,32L120,42.7C240,53,480,75,720,74.7C960,75,1200,53,1320,42.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
  </div>


<!--========================================================== -->
                      <!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->

  <div class="container  border-top border-primary " style="max-width: 500px" id="contenedor-formulario">
      <div class="text-center mb-4" id="titulo-formulario">
        <div><img src="./img/support.png" alt="" class="img-fluid ps-5"></div>
        <h2>Contactanos</h2>
        <p class="fs-5">Estamos aqui para hacer realidad de tus proyectos</p>
      </div>

     

      <form   method="POST" data-netlify="true" action="#">     
            <div class= "mb-3">           
              <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com">
            </div>
 
          
            <div class="mb-3">            
              <input type="input" class="form-control" id="name" name="name" placeholder="John Doe">
            </div>
      

            <div class="mb-3">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Teléfono">
            </div>

          <div class="mb-3">       
            <textarea class="form-control" name="message" id="message" rows="4"></textarea>
          </div>

          <div class="mb-3">
            <button type="submit" class=" btn btn-primary w-100 fs-5">Enviar Mensaje</button>
          </div>
      </form>
  
  </div>
</section>



<!--========================================================== -->
                        <!--FOOTER-->
<!--========================================================== -->



  <!-- Footer -->
  <footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
    <p class="fs-5 px-3  pt-3">ExpertD. &copy; Diseñado por : <br> <br>
  Andres Urrea <br>
David Ramirez <br>
Antony lopez <br>
Luis Jimenez <br>
</p>
  <div id="iconos" >
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>  
  </div>
</footer>
  <!-- Footer -->

<!-- End of .container -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="freenworkspaginaprincipal/main.js"></script>
  </body>
</html>