
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=	, initial-scale=1.0">
	<link rel="stylesheet" href="	../css/all.min.css">
	<link rel="stylesheet" href="css/styleDashboard.css">
	<title>Document</title>
</head>
<body>
		<div class="container">
    <div class="item">
      <img src="img/graph-g2dbd78687_1280.png" alt="" class="item-img">
      <div class="item-text">
        <h3>Grafico de barras</h3>
        <p>Este al tanto del comportamiento del inventario en su negocio.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="img/pie-chart-g049c335d5_1280.png" alt="" class="item-img">
      <div class="item-text">
        <h3>Grafico de torta</h3>
        <p>Aqui podra ver el comportamiento del flujo del inventarioo de una manera atractiva.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="img/presentation-ge628aa3d2_1280.png" alt="" class="item-img">
      <div class="item-text">
        <h3>Reportes</h3>
        <p>Este al tanto de todos los reportes de inventario de su negocio, nosotros le mantendremos informado.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="images/img4.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    
    <div class="item">
      <img src="../img/fidelizacionimg.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Ten un catalogo para tus clientes</h3>
        <p>Con tu catalogo digital podras agregar los productos que vendes y si lo deseas agregar promociones a tus articulos.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="images/img6.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
  </div>
  



  

	</body>
	</html>